body {
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Righteous';
    font-size: 20px;
    overflow-x: hidden;
}

/* all customizations for navbar*/
.navbar {
    border: 0px;
    margin: 0px;
    background: transparent;
}

.navbar-nav>li {
    height: 38px;
}

.navbar .navbar-nav .nav-item>a {
    color: white;
}

.navbar-nav>.active>a {
    color: white;
    background-color: deepskyblue;
}

.navbar .navbar-nav .nav-item>a:hover {
    background-color: deepskyblue;
    color: white;
}

#fixed {
    background-image: url(/images/237038.jpg);
    background-attachment: fixed;
    height: 675px;
    padding-top: 60px;
    background-position: center;
    background-size: auto;
    margin-bottom: 0px;
}

/*for home card*/
.fixed-wrap .card {
    width: 70%;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-left: 0px;
    padding-left: 0px;
    margin-left: 15%;
    border-radius: 1%;
}

.card .card-img-bg {
    height: 39.2vw;
    width: 37vw;
    border-radius: 1%;
    margin-top: -1%;
    margin-left: -4.6%;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
}

.card .card-img {
    object-fit: cover;
    height: 28vw;
    width: 25vw;
    margin-left: -40%;
    border: 0.5rem solid white;
    border-radius: 30%;
    z-index: 999;
}

.brief-intro {
    margin-right: 13%;
}

.info {
    padding: 20px;
    padding-left: 0px;
}

.fa-instagram,
.fa-linkedin,
.fa-github,
.fa-envelope-square {
    font-size: 3rem;
    padding: 1rem;
    color: deepskyblue;
}

.fa-instagram:hover {
    color: #dd2a7b;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.fa-github:hover {
    color: #211f1f;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.fa-linkedin:hover {
    color: #0077b5;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.fa-envelope-square:hover {
    color: #d44638;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

/*About me jumbotron*/
.jumbotron {
    padding: 1rem;
    background-color: black;
    color: whitesmoke;
    border-radius: 0px;
}

#resume {
    margin-top: 15%;
}

#resume:hover {
    background-color: deepskyblue;
    border-color: deepskyblue;
    color: white;
}

/*Skills*/
.android,
.web {
    padding-left: 10vw;
    padding-right: 10vw;
}

.fa-android,
.fa-java,
.fa-react,
.fa-html5,
.fa-css3,
.fa-js-square,
.fa-node {
    font-size: 3rem;
    padding: 0.5rem;
    padding-bottom: 1rem;
}

.fa-android {
    color: #32DE84;
}

.fa-java {
    color: #f89820;
}

.fa-react {
    color: #61dbfb;
}

.fa-html5 {
    color: #f16529;
}

.fa-css3 {
    color: #2965f1;
}

.fa-js-square {
    color: #f0db4f;
}

.fa-node {
    color: #3c873a;
}

.skills {
    margin-top: 2%;
    margin-bottom: 5%;
}

/*Footer*/
.footer {
    background-color: #1c2e4a;
    color: white;
    padding-top: 1%;
    padding-bottom: 2%;
}

.name-email-input {
    padding-left: 23%;
    padding-right: 23%;
}

.subject-input {
    padding-left: 23%;
    padding-right: 23%;
    margin-top: 3%;
}

.email-message {
    padding-left: 23%;
    padding-right: 23%;
    margin-top: 3%;
}

.submit-button {
    margin-top: 2%;
}

#submit {
    background-color: deepskyblue;
    border: deepskyblue;
    padding: 0.5%;
    border-radius: 10%;
    color: white;
    font-size: 22px;
}

#submit:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
    transition: 0.1s;
}

/*media queries*/
@media only screen and (max-width: 992px) {

    body {
        border: 0px;
        margin: 0px;
        padding: 0px;
        font-family: 'Righteous';
        font-size: 16px;
    }

    #fixed {
        background-image: url(/images/237038.jpg);
        background-attachment: fixed;
        height: 700px;
        padding-top: 40px;
        background-position: center;
        background-size: auto;
        margin-bottom: 0px;
    }

    .name {
        font-size: 26px;
        margin-left: 15%;
        margin-right: -15%;
        margin-top: -5%;
    }

    .info {
        font-size: 18px;
        margin-left: 15%;
        margin-right: -15%;
        margin-bottom: 10%;
    }

    .fixed-wrap .card {
    width: 69vw;
    height: 650px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-left: 0px;
    padding-left: 0px;
    margin-left: 15%;
    border-radius: 1%;
    }

    .card .card-img-bg {
        width: 69.5vw;
        height: 65vw;
        clip-path: polygon(0 0, 100% 0%, 100% 50%, 0% 100%);
    }

    .card .card-img {
        object-fit: cover;
        height: 40vw;
        width: 35vw;
        border: 0.5rem solid white;
        margin-left: 20%;
        margin-top: -80%;
        border-radius: 30%;
        z-index: 999;
    }

    #resume {
        font-size: 22px;
        margin-top: 50%;
    }
}

@media only screen and (max-width: 600px) {

    body {
        border: 0px;
        margin: 0px;
        padding: 0px;
        font-family: 'Righteous';
        font-size: 16px;
    }

    .name {
        font-size: 26px;
        margin-left: 15%;
        margin-right: -15%;
    }

    .info {
        font-size: 20px;
        margin-left: 15%;
        margin-right: -15%;
    }

    .fixed-wrap .card {
    width: 69vw;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-left: 0px;
    padding-left: 0px;
    margin-left: 15%;
    border-radius: 1%;
    }

    .card .card-img-bg {
        width: 69vw;
        height: 65vw;
        margin-left: -5%;
        clip-path: polygon(0 0, 100% 0%, 100% 50%, 0% 100%);
    }

    .card .card-img {
        object-fit: cover;
        height: 45vw;
        width: 40vw;
        margin-left: 21%;
        margin-top: -70%;
        border: 0.5rem solid white;
        border-radius: 30%;
        z-index: 999;
    }

    #resume {
        font-size: 22px;
        margin-bottom: 5%;
    }
}