.side-info-bar {
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: auto;
    z-index: 5;
    ul {
        list-style: none;
        .item {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
        }
        span {
            opacity: 0;
            color: #0e153a;
            background-color: $font-color;
            padding: 5px;
            border-radius: 6px;
            font-size: 16px;
            right: 50%;
            position: absolute;
            z-index: 1;
            transition: opacity 0.5s;
        }
        .resume {
            margin-right: 15%;
            animation-fill-mode: backwards;
            @include animation (3s, 1s, animation-slide-in-top, ease-in);
        }
        .linkedin {
            margin-right: 15%;
            animation-fill-mode: backwards;
            @include animation (3s, 1s, animation-slide-in-top, ease-in);
        }
        .github {
            margin-right: 15%;
            animation-fill-mode: backwards;
            @include animation (3s, 1s, animation-slide-in-top, ease-in);
        }
        .twitter {
            margin-right: 15%;
            animation-fill-mode: backwards;
            @include animation (3s, 1s, animation-slide-in-top, ease-in);
        }
        a {
            color: $font-color;
            font-size: 35px;
            &:hover+span {
                opacity: 1;
            }
        }
    }
}

@media (max-width: 600px){

    .side-info-bar {
        bottom: -0.5rem;
        right: 1rem;

        ul {
            .item {
                a {
                    font-size: 20px;
                }
            }
        }
    }
}