body {
    background-color: #0e153a;
    padding: 0;
    border: 0;
    margin: 0;
}

$secondary-color: #3d5af1;
$font-color: #e2f3f5;
$content-font: Open Sans,
sans-serif;
$title-font: "Orbitron",
sans-serif;

@keyframes fadeIn {
    50% {
        opacity: 1;
    }
}

header {
    padding-top: 1.5%;
    padding-left: 7.5%;
    nav {
        #name-header {
            background-color: $secondary-color;
            color: $font-color;
            padding: 10px;
            width: fit-content;
            font-family: $title-font;
        }
        a {
            color: $font-color;
            font-family: $content-font;
            margin-right: 40px;
            i {
                margin-right: 7px;
            }
        }
        .topnav-right {
            float: right;
        }
    }
}

.home-wrapper {
    text-align: center;
    #home {
        font-family: $content-font;
        color: $font-color;
        font-size: 28px;
        font-weight: 900;
        margin-top: 4%;
        display: inline-flex;
        width: fit-content;

        p {
            line-height: 50px;
            width: fit-content;
            height: auto;
            position: relative;
            right: 10%;
            padding-top: 15%;
            text-align: left;

            img {
                width: 10%;
            }
        }
        .profile-image {
            position: relative;
            left: 5%;
            #my-picture {
                z-index: 0;
                width: 80%;
                height: auto;
            }
            #my-picture2 {
                z-index: 2;
                width: 72%;
                position: absolute;
                right: 20%;
                visibility: hidden;
                height: auto;
            }
            #triangle1 {
                width: 120%;
                height: auto;
                z-index: -2;
                position: absolute;
                right: -20%;
                margin-top: 20%;
            }
            #triangle2 {
                width: 92%;
                height: auto;
                z-index: -2;
                position: absolute;
                right: 10%;
                margin-top: 0%;
            }
        }
    }
}

.side-info-bar {
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: auto;

    ul {
        list-style: none;

        .item {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
        }

        span {
            opacity: 0;
            color: #0e153a;
            background-color: $font-color;
            padding: 5px;
            border-radius: 6px;
            font-size: 16px;
            right: 50%;
            position: absolute;
            z-index: 1;
            transition: opacity 0.5s;
        }

        .resume {
            margin-right: 15%;
        }

        a {
            color: $font-color;
            font-size: 35px;
            &:hover + span {
                opacity: 1;
            }
        }
    }
}