body {
    background-color: #0e153a;
    padding: 0;
    border: 0;
    margin: 0;
    overflow: hidden;
}

$secondary-color: #3d5af1;
$font-color: #e2f3f5;
$content-font: Open Sans,
sans-serif;
$title-font: "Orbitron",
sans-serif;

@mixin keyframe ($animation_name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @-o-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation ($delay, $duration, $animation, $direction: forward, $fillmode: fowards) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: $fillmode;
    -webkit-animation-direction: $direction;

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: $fillmode;
    -moz-animation-direction: $direction;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: $fillmode;
    animation-direction: $direction;
}

@include keyframe(animation-slide-in-left) {
    0% {
        transform: translate(-40%,0);
        opacity: 0;
    }

    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}

@include keyframe(animation-slide-in-right) {
    0% {
        transform: translate(40%,0);
        opacity: 0;
    }

    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}

@include keyframe(animation-slide-in-top) {
    0% {
        transform: translate(0,+40%);
        opacity: 0;
    }

    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}

@include keyframe(animation-slide-in-bottom) {
    0% {
        transform: translate(0,-40%);
        opacity: 0;
    }

    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}

header {
    padding-top: 1.5%;
    padding-left: 7.5%;
    nav {
        #name-header {
            background-color: $secondary-color;
            color: $font-color;
            padding: 10px;
            width: fit-content;
            font-family: $title-font;
        }
        a {
            color: $font-color;
            font-family: $content-font;
            margin-right: 40px;
            i {
                margin-right: 7px;
            }
        }
        .topnav-right {
            float: right;
        }
    }
}

.home-wrapper {
    text-align: center;
    #home {
        font-family: $content-font;
        color: $font-color;
        font-size: 28px;
        font-weight: 900;
        margin-top: 4%;
        display: inline-flex;
        width: fit-content;

        p {
            line-height: 50px;
            width: fit-content;
            height: auto;
            position: relative;
            right: 10%;
            padding-top: 15%;
            text-align: left;
            @include animation (0, 0.7s, animation-slide-in-left, ease);

            img {
                width: 10%;
            }
        }
        .profile-image {
            position: relative;
            left: 5%;
            width: fit-content;
            height: auto;
            #my-picture {
                z-index: 0;
                width: 80%;
                height: auto;
                @include animation (0, 1s, animation-slide-in-bottom, ease);
                opacity: 1;
                transition: transform 0.3s;
                &:hover {
                    transform: scale(1.1);
                } 
                &:hover + #triangle1 {
                    transform: rotate(-45deg);
                }
                &:hover ~ #triangle2 {
                    transform: rotate(45deg);
                }
            }

            #triangle1 {
                width: 120%;
                height: auto;
                z-index: -2;
                position: absolute;
                right: -20%;
                margin-top: 20%;
                transition: transform 0.3s;
                @include animation (0, 0.7s, animation-slide-in-right, ease);
            }
            #triangle2 {
                width: 92%;
                height: auto;
                z-index: -2;
                position: absolute;
                right: 10%;
                margin-top: 0%;
                transition: transform 0.3s;
                @include animation (0, 0.4s, animation-slide-in-right, ease);
            }
        }
    }
}

.side-info-bar {
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: auto;

    ul {
        list-style: none;

        .item {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
        }

        span {
            opacity: 0;
            color: #0e153a;
            background-color: $font-color;
            padding: 5px;
            border-radius: 6px;
            font-size: 16px;
            right: 50%;
            position: absolute;
            z-index: 1;
            transition: opacity 0.5s;
        }

        .resume {
            margin-right: 15%;
            @include animation (0, 1.2s, animation-slide-in-top, ease-in);
        }

        .linkedin {
            margin-right: 15%;
            @include animation (0, 1.2s, animation-slide-in-top, ease-in);
        }

        .github {
            margin-right: 15%;
            @include animation (0, 1.2s, animation-slide-in-top, ease-in);
        }

        .twitter {
            margin-right: 15%;
            @include animation (0, 1.2s, animation-slide-in-top, ease-in);
        }

        a {
            color: $font-color;
            font-size: 35px;
            &:hover + span {
                opacity: 1;
            }
        }
    }
}